.fun-fact {
    max-width: 500px;
    margin: 20px;
    margin-bottom: 30px;
    background-color: #D1E7F3;
    padding: 20px;
    text-align: center;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}

.fun-fact button {
    margin-top: 10px;
    background-color: #356E9C;
    color: #fafafa;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
}

.fun-fact button:hover {
    background-color: #28567A;
}
